.background {
    -fx-background-color: #303030;
}

.label {
    -fx-text-fill: #E0E0E0;
    -fx-font-family: "Microsoft YaHei";
}

.label-hour-title {
    -fx-font-size: 30px;
    -fx-padding: 15px;
}

.label-hour {
    -fx-font-size: 20px;
    -fx-pref-width: 66px;
    -fx-alignment: center;
}

.label-hour:hover {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #303030;
}